    body {
      background-color: #F38916;
    }

    .contenedor {
      border-radius: 12px;
      background-color: rgb(254, 254, 254);
      color: #f1eeee;
      font-size: 12px;
      padding: 30px;
      width: 100%;
      max-width: 530px;
      height: 100%;
      margin-left: 180px;
      margin-right: 80px;
      margin-bottom: 15px;
    }

    .reginput {
      background-color: #EEEEEE;
      border-radius: 6px;
      color: #9C9B9B;
      margin-top: 15px;
      width: 80%;
      height: 50px;
      font-family: "Quicksand", sans-serif;
      padding-left: 15px;
    }
.reginput:focus{
    border: 3px solid #FF9500;
    outline: none; /* quita el borde azul por defecto del navegador */
}
    .topcontenedor {
      margin: 0 auto;
      display: block;
      width: 44%;
      height: 44%;
    }

    .Acceptar {
      background-color: #FF9500;
      border-radius: 8px;
      color: #f1eeee;
      margin-top: 10px;
      padding: 15px 30px;
      width: 80%;
      font-size: medium;
    }
      .Acceptar:hover{
       transition: transform 150ms ease-in-out, background-color 150ms ease-in-out;
    color: #f1eeee; 
    background-color: #6c6c6c;
    }

    .registerbtn {
      margin-top: 15px;
      text-align: center;
    }

    .bienvenida {
      font-size: 45px;
      margin-top: 25px;
      text-align: center;
      color: #847C7C;
      font-family: "Onest", sans-serif;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .iniciar,
    .iniciarsign {
      font-size: small;
      text-align: center;
      display: inline-block;
      margin-top: 25px;
      margin-bottom: 45px;
    }

    .iniciar {
      color: #959595;
    }

    .iniciarsign {
      color: #FF9500;
      cursor: pointer;
    }

    .iniciarsign:hover {
      color: #e28d15df;
    }

    @media (max-width: 767px) {
      .topcontenedor {
        width: 60%;
      }

      .bienvenida {
        font-size: 36px;
      }
    }

    #fondo{
        margin-right: 80px;
    }
    #servicesimg{
        margin-right: 7px;
        width: 35px;
        height: 35px;
    }
    .servicestxt{
font-size: small;
      text-align: center;
      display: inline-block;
      margin-top: 10px;
      color: #959595;
      margin-bottom: 25px;
    }

.serviciosbtn:hover{
       transition: transform 150ms ease-in-out, background-color 150ms ease-in-out;
    transform: scale(1.1) translateY(-1px);
    color: rgb(237, 234, 231); 
    }
    /* CODIGO PARA PROXIMAMENTE ANIMACION DE BOTON
https://dev.to/webdeasy/top-20-css-buttons-animations-f41
.olvido{
    margin-top: 70px;
    color: #f1eeee;
    font-family: "Quicksand", sans-serif;
    font-size: small;
    }
    .iniciar:hover{
       transition: transform 150ms ease-in-out, background-color 150ms ease-in-out;
    transform: scale(1.1) translateY(-5px);
    color: rgb(237, 234, 231); 
    }
    .olvido:hover{
       transition: transform 150ms ease-in-out, background-color 150ms ease-in-out;
    transform: scale(1.1) translateY(-5px);
    color: rgb(237, 234, 231); 
    }
*/ 